<!DOCTYPE html>
<html>
<head>  <title>Your choice </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css"
    rel="stylesheet"
    href="Shrestha_Nista.css"/>
    
          
</head>

<body>
        <nav class="navHeader">
            A03Nista_Shrestha
                <a href="/Shrestha_Nista">Home Page</a>
                <a href="/Yourchoice">Your Choice</a>
                <a href="/Contacts">Contacts</a>
                <a href="guestbook">Guestbook</a>
          </nav>	
          <div class="container-fluid" >
              <div class="row">
                  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <form class="h2">
                                <h1> Calculate the acceleration of vehicle</h1>
                                <br>
                                <h3> Velocity of the vehicle: </h3><input type="text" id="Velocity" />
                                <br>
                                <h3>Time period of the vehicle:</h3><input type="text" id="Time" />
                                <br>
                                <button type="button" onclick="Acc()">Calculate</button><br>
                                <p id="result"></p>          
                            </form>
                  </div>
              </div>
          </div>
  
    <footer>
            <nav>
                    <a href="https://github.com/s525389"> <img src ="github.png" alt="github" height = "35" width="35"></a>
                    <a href="https://bitbucket.org/s525389/"> <img src = "download.png" alt="bitbucket" height = "35" width ="35"></a>
                    <a href="https://www.linkedin.com/feed/"><img src= "linkedin.jpg" alt ="linkedin" height ="35" width ="35"></a>
                    <a href="https://www.google.com/"><img src= "12.png" alt="google" height ="35" width ="35"></a>
  
              </nav>
                  	  
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src ="Shrestha_Nista.js"> </script>
   
</body>
</html>